@{
    Layout = "get data from school";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a  class="btn-danger  col-3" href="/Admin/getdata/getclass">get lop hoc phan</a>
        <a class="btn-danger  col-3" href="/Admin/getdata/getstudent">get sinh vien</a>

    </div>
</body>
</html>
