@model List<TracNghiemOnline.Modell.LopHocPhan>
 @{
    ViewBag.Title = "LopHocPhan";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
  
}


<div class="container-fluid">
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <div class="mt-5 m-2">
                <i class="fas fa-table mr-1"> </i>
                Danh Sách Lớp Học Phần
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã Lớp </th>
                        <th>Tên Lớp Học Phần</th>
                        <th> Môn Học </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã Lớp </th>
                        <th>Tên Lớp Học Phần</th>
                        <th> Môn Học </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.MaLop </td>
                            
                            <td>  @item.TenLop </td>
                            <td>  @item.MonHoc.TenMon  </td>
                     
                            <td style="text-align:center">
                                <div class="row">
                                    <div class="col-6"><a href="/Admin/QuanLyThi/DSSinhVen/@item.MaLop"> Danh Sách Sinh Viên  </a></div>
                                    <div class="col-3"><a href="#"> Sữa</a></div>
                                    <div class="col-2"><a href="#"> Xóa  </a></div>

                                </div>
                            </td>
                        </tr>

                    }

                </tbody>

            </table>

        </div>
        <div class="row">
            <div class="col-3 " style="text-align:center">
                <a class="btn-dark nav-link" href="/Admin/QuanLyThi/CreateClassRoom" style="text-align:center">Thêm Lớp</a>
            </div>
        </div>
    </div>
</div>

