
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu" style="font-size:14px;font-family:sans-serif; font-style:normal; line-height:1.4">
                <div class="nav">
                    <a class="nav-link" href="/Admin/Home/NgânHangCauHoi">
                        <div class="sb-nav-link-icon"><i class="fa fa-th-large nav_icon"></i></div>&ensp;
                        Ngân Hàng Câu Hỏi
                    </a>

                    <a class="nav-link" href="/Admin/Home/DSDETHI">
                        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>&ensp;
                        Đề thi
                    </a>


                    <a class="nav-link" href="/Admin/Home/BoMon">
                        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>&ensp;
                         Bộ Môn
                    </a>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-users-cog"></i></div>&ensp;
                        Quản Lý Thi
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/Admin/QuanLyThi/LopHocPhan">Lớp học phần</a>
                            <a class="nav-link" href="/Admin/QuanLyThi/PhongThi">Tổ chức thi</a>
                            <a class="nav-link" href="/Admin/Home/PhongThi">Coi thi</a>
                        </nav>
                    </div>
                    <a class="nav-link" href="/Admin/QuanLyThi/DanhGiaKetQuahocTap">
                        <div class="sb-nav-link-icon"><i class="far fa-chart-bar"></i></div>&ensp;
                        Đánh giá kết quả
                    </a>


                </div>
            </div>

        </nav>
    </div>


