
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/new_logo.png">
    <link rel="icon" type="image/png" href="~/assets/img/new_logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Đánh Gía Kiến Thức Vật Lý Trung Học Phổ Thông
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <!-- CSS Files -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <style>
        #DongHo {
            position: fixed;
            top: 10%;
            left: 81.5%;
            height: 100%;
            cursor: pointer;
            z-index: 99;
        }
        #particles1{
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 101;
            overflow: hidden;
           text-align:center;

        }

        #dialog{
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            overflow: hidden;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 100;
            overflow: hidden;
            text-align: center;
            background-color:rgb(68 65 65 / 0.55);

        }
        #particles {
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: -2;
            background-image: linear-gradient(rgb(247 247 247), rgb(255 255 255 / 0.80));

            @*background-image: linear-gradient(rgb(238 238 238 / 0.60), rgb(255 255 255 / 0.00));*@
        }
        .particles {
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 1;
         /* //  background-image: url('../../assets/img/hinh-anh-thac-nuoc-dep-14-1.jpg');*/
        }

        .Narlink {
            background-image: linear-gradient(#f8051d, rgb(255 150 75 / 0.88));
        }


        .form-check-label {
            cursor: pointer;
        }
    </style>

    <!-- CSS only -->
    <link href="~/assets/css/material-dashboard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="http://sibeeshpassion.com/content/scripts/jquery-1.11.1.min.js"></script>
</head>

    <body  id="demo1" style="background-color:rgb(255 255 255 / 0.90)" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
        <div id="thongbao">

        </div>

        @RenderBody()

  

        <div id="particles" class="particles"></div>


        <!--   Core JS Files   -->
        @Scripts.Render("~/bundles/jquery")
    

        @RenderSection("scripts", required: false)
    </body>



</html>
