@model TracNghiemOnline.Modell.MonHoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}

<h4 class="text-danger">Xác nhận xoá môn học ?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            Tên môn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <span><i class="far fa-trash-alt"></i></span> Xoá
            </button>
            <a href="@Url.Action("Index", "MonHocs")" class="btn btn-xs btn-info">
                <span><i class="fas fa-list"></i></span> Danh sách
            </a>
        </div>
    }
</div>
