@model TracNghiemOnline.Modell.MonHoc

@{
    ViewBag.Controller = "Môn Học";
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}

<h4 class="text-danger" style="font-weight:bold">  @Html.DisplayNameFor(model => model.TenMon)</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "MonHocs",new { id = Model.Ma_Mon })" class="btn btn-xs btn-info">
        <span><i class="fas fa-edit"></i></span> Sửa
    </a> |
    <a href="@Url.Action("Index", "MonHocs")" class="btn btn-xs btn-info">
        <span><i class="fas fa-list"></i></span> Danh sách
    </a>
